<div>
  <h1 id="heading">
    It really happened!
  </h1>
  <p>The quick brown fox jumped over the lazy dog</p>
  <img src="https://media.giphy.com/media/irBvxzS3E68HRKrnvl/giphy-downsized.gif" />
</div>